.container{
    max-width: 1200px;
    margin: 0 auto;
    padding: 1em;
}
html{
    font-family: 'Montserrat', sans-serif;
}
body{
    background-color: #f7f7f7;
    padding: 0;
    margin: 0;
}
h1{
    font-weight: 800;
    font-size: 57pt;
}
h2{
    font-size: 36pt;
    font-weight: 800;
}
h3{
    font-size: 17pt;
    padding: 1em;
}
p{
    font-size: 23pt;
}

.apply{
    background-color: white;
    border: 1px solid white;
    border-radius: 20px;
    text-align: center;
}
.apply p{
    font-size: 16pt;
    margin: 0;
}
.apply input[type=text]{
    width: 246px;
    height: 38px;
    margin: 1em;
    border: 1px solid #f7f7f7;
    border-radius: 10px;
}
.apply input [type=checkbox]{
    width: 23px;
    font-size: 14pt;
}
.button{
    background-color: #57eeab;
    border: 1px solid #57eeab;
    border-radius: 10px;
    padding: 12px 20px;
    width: 250px;
    height: 53px;
    font-family: 'Montserrat', sans-serif;
    font-size: 16pt;
    font-weight: 700;
}
p.appication {
    font-size: 14pt;
}

.site-footer{
    background-color: #fffd8c;
    text-align: center;
    
}
.site-footer p{
    font-size: 17pt;
    padding: 1em;
}
