.container{
   padding: 0 3em 0 3em;
}
html{
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
}
body{
    background-color: #f7f7f7;
}
h1{
    font-weight: 700;
    font-size: 60px;
    margin: 5px 0 10px 0 ;
}
h2{
    font-size: 40px;
    font-weight: 600;
    margin: 10px;
}
h3{
    font-size: 18px;
    
}
p{
    font-size: 24px;
    margin: 0;
    
}
img.logo{
    width: 115px;
    height: auto;
}
section{
    background-image: url(../images/bg-image/scooter.svg);
    background-position: center ;
    background-size: 100%;
    background-repeat: no-repeat;
    display: grid;
    grid-auto-flow: row;
    gap: 5em;
    padding: 3em 0 4em 0;
    
}

/* form */
.apply{
    background-color: white;
    border: 1px solid white;
    border-radius: 20px;
    padding: 1em;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.6);
}
.apply p{
    margin: 10px;
    padding: 0;
}
.apply input[type=text],
input[type=phone]{
    width: 100%;
    margin: 1em;
    background-color: #f4f4f5;
    border: 1px solid #f4f4f5;
    border-radius: 10px;
    /* height: 55px; */
}
.apply input [type=checkbox]{
    width: 23px;
    font-size: 16px;
}
label{
    /* padding: 1em; */
    margin: 1em 1em 1em 1em;
    font-size: 16px;
}
.button{
    background-color: #57eeab;
    border: 1px solid #57eeab;
    border-radius: 10px;
    padding: 12px 20px;
    width: 100%;
    /* height: 40px; */
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
    font-weight: 700;
}
p.appication {
    font-size: 14pt;
}
/* Using the a to color the link of the status to red/pink and removing the underliner. */
a {
    color: #ff8480;
    text-decoration: none;
    font-size: 17px;
}




footer{
    background-color: #fffd8c;
    padding: 1em 2em;
    margin: 0 -8px;
}

footer p{
    font-size: 16px;
}
.form-calculate input[type=text]{
    background-color: #f7f7f7;
    border: none;
    border-radius: 10px;
    padding: 1em;
    margin: 0 5px 0 5px;
}
.hours{
    width: 10%;
}
.city{
    width: 65%;
}

button.bt-calculate{
    background-color: #ff8480;
    border: 1px solid #ff8480;
    border-radius: 10px;
    margin: 5px 0 5px 0;
    width: 100%;
    padding: 10px;
    color: white;
    font-size: 1em;
    font-weight: 700;
}
.icons-soical{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
@media screen and (min-width: 768px){
    h1{
        font-size: 80px;
    }
    .apply{
        width: 536px;
    }
    .button{
        font-size: 32px;
    }
    button.bt-calculate{
        width: 300px;
    }
    .hours{
        width: 126px;
    }
    .city{
        width: 260px;
    }
    .icons-soical{
        display: flex;
        flex-direction: row;
        align-items: center;
   }

}

@media screen and (min-width: 1050px){
    section{
        background-position: center 35%;
        background-size: 50%;
        display: grid;
        grid-auto-flow: column;
        gap: 40em;
    }
    footer{
        padding-bottom: 6em;
        /* display: flex;
        align-items: flex-start; */
    }
    /* Making the icons to float right. */
    .icons-soical{
      float: right;
    }
}


