


/* Using the img tag to have every images have a max-width of 100% as well as the height. Using the margin to have no margin on every image. */
img{
    max-width: 100%;
    height: auto;
}
/* Using :root for my color thoughout the pages. This make it easy for me if I have to change  any of the color in the future.  */
:root{
   --main: #2D3D50;
   --font: #FFFEFB;
   --second: #181919;
   --button: #858C84;
   --third: #972718;
}

body{
    background-color: var(--main);
    color: var(--font);
    font-family: 'Cabin', sans-serif;
    font-size: 14px;
}

/* Banner BAckground */
.banner-about{
    background-image: url(../images/andrew-neel-cckf4TsHAuw-unsplash.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
    height: 323px;
}
.banner-service{
    background-image: url(../images/dj-watson-Jz1aZQewW04-unsplash.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
    height: 323px;
}
.banner-portfolio{
    background-image: url(../images/bailey-mahon-2b6K4uy0Hbc-unsplash.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
    height: 323px;
}
.banner-contact{
    background-image: url(../images/headway-5QgIuuBxKwM-unsplash.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
    height: 323px;
}
.info{
    font-size: 14px;
}

.button{
    background-color: var(--button);
    color: var(--font);
    height: 67px;
    width: 260px;
    font-size: 20px;
}
.button-form{
    background-color: var(--third);
    color: var(--font);
    height: 67px;
    width: 260px;
    font-size: 20px;
}
.contactinfo{
    background-color: var(--third);
}
/* Adding circle to the card  */
.servicecard{
    height: 311.23px;
}
.servicecard h2{
    font-size: 24px;
}
.circle{
    display: block;
    margin: 0 auto;
    background: var(--font);
    width: 118px;
    height: 118px;
    border-radius: 50%;
    background-image: url(../icons/graphic-design.png);
    background-size: 68px;
    background-repeat: no-repeat;
    background-position: center;
}
.circle-photo{
    background-image: url(../icons/iconmonstr-photo-camera-4.svg);
}
.circle-video{
    background-image: url(../icons/iconmonstr-video-camera-1.svg);
}
.circle-graphic{
    background-image: url(../icons/vector.png);
}
.circle-UI{
    background-image: url(../icons/web-design.png);
}
.circle-code{
    background-image: url(../icons/iconmonstr-code-2.svg);
}
.servicecard img{
    width: 68px;
    height: 68px;
}
label{
    background-color: var(--third);
}