html{
    font-size: 100%;
    font-family: 'Libre Franklin', sans-serif;
    padding: 0;
    margin: 0;
}
*{
    box-sizing: inherit;
    margin: 0;
}
img{
    width: 100%;
    height: auto;
    margin: 0;
}
:root{
    --brown: #3D2B23;
    --lightbrown: #905442;
    --red: #621708;
    --white: white;
    --black: black;
    --yellow: #D9AB2B;
}
body{
    background-color: var(--lightbrown);
    margin: 0;
    padding: 0;
    
}
/* Logo */
.logo{
    width: 89px;
    height: 70px;
    display: flex;
}
.site-header{
    background-color: var(--black);
}
/* navigation */
.list-nav{
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1em;
    margin: 0;
}
.list-nav li{
    padding: 10px;
    
}
.list-nav li a{
    text-decoration: none;
    color: var(--lightbrown);
    
}
.list-nav li a:hover{
    color: var(--red);
    transition: all 0.5s ease-in ;
}

/* Banner */
.banner{
    background-image: url(../images/Ribscopy.jpg);
    background-size: 100%;
}
h1{
    text-align: center;
    font-size: 35px;
    font-weight: bold;
    color: var(--lightbrown);
    -webkit-text-stroke: 1px var(--black);
    margin: 0;
}
.banner p{
    text-align: center;
    font-size: 15px;
    color: var(--lightbrown);
    -webkit-text-stroke: 0.5px var(--black);
}
/* Button */
button{
    background-color: var(--red);
    border: 1px solid var(--red);
    border-radius: 4px;
    color: var(--white);
    padding: 10px ;
    margin: 10px 2px;

    
}
/* Events */
h2, h3{
    text-align: center;
    background-color: var(--red);
    color: white;
    font-size: 24px;
    font-weight: bold;
    padding: 1em;
    margin: 1em;
}
.events img{
    margin-bottom: 1em;
    width: 311px;
    height: 188px;
    
}
.events{
    background-color: var(--brown);
    margin: 82px 0;
    display: grid;
   justify-items: center;
    grid-template-areas:
    ". header ."
    ". header ." 
    ". poster1 ."
    ". poster2 .";
}
h2{
    grid-area: header;
}
.poster{
    grid-area: poster1;
}
.NYHposter{
    grid-area: poster2;
}


/* Catering */
.catering{
    background-color: var(--brown);
    margin-bottom: 114px;
    display: grid;
    justify-items: center;
    grid-template-areas: 
    "header"
    "poster"
    "writing1"
    "writing2";
}
h3{
    grid-area: header;
}
.catering img{
    grid-area: poster;
    width: 237px;
    height: 306px;
}
.write{
    grid-area: writing1;
}
.catering-question{
    grid-area: writing2;
}

.catering p{
    color: var(--white);
    font-size: 12px;
    text-align: center;
}
/* Footer */
.site-footer{
    background-color: var(--black);
    color: var(--white);
}
.site-footer img{
    width: 124px;
    height: 97px;
    padding: 1em;
    display: block;
    margin: 0 auto;
}
.soical-icons{
    display: flex;
    justify-content: space-evenly;
    align-content: center;
}
.copy{
    padding: 1em;
    text-align: center;
    font-size: 1em;
}
/* Menu Page */

.banner-menu{
    background-image: url(../images/Ribs_1\ .jpg);
    background-size: 100%;
}
.menu img{
    margin: 1em 0 0 1em;
    border: 10px solid var(--brown);
    
}
.menuphoto img{
    width: 336px;
    height: 435.24px;
    display: block;
    margin: 0 auto;
}

/* Takeoyt Page */
.banner-takeout{
    background-image: url(../images/Pulled\ Pork\ Sandwich\ .jpg);
    background-size: 100%;
    background-position: 50%;
}
.takout-info, .lookatmenu p {
    font-size: 24px;
    color: var(--white);
    font-weight: 400;
    margin: 0.5em;
}
.takeout-icons{
    text-align: center;
}
.takeout-icons img{
    background-color: #283618;
    width: 122px;
    height: 106.23px;
    border: 3px solid var(--green);
    border-radius: 15px;
}

.takeout-icons p, .takeout-icons a{
    text-decoration: none;
    font-size: 32px;
    font-weight: bold;
    color: var(--red);
}
.phoneicon{
    width: 62.84px;
    color: var(--white);
}

/* Contact page */
.container{
    max-width: 1200px;
    margin: 0 auto;
    padding: 1em;
}
.contact-banner{
    background-image: url(../images/DSC09651-Edit\ -\ Edit.jpg);
    background-position: 50%;
}
.form p{
    color: var(--white);
    font-size: 24px;
}
form{
  margin-top: 1em;
}
.form label{
    background-color: var(--red);
    color: var(--white);
    /* font-size: 10px; */
    border: 10px solid var(--red);
    /* padding: 20px;  */
}
.form input[type=text]{
    width: 100%;
    height: 50px;
    margin: 10px 0 30px 0;
    box-sizing: border-box;
}
.form textarea{
    width: 100%;
    height: 244px;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
}
.location iframe{
    width: 100%;
    padding: 1em 0;
}
.contact-info{
    background-color: var(--white);
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    align-items: center;
    gap: -1em;
}
.contact-info p{
    color: var(--red);
    font-size: 18px;
    padding-left: 1em;
}
.contact-info p, .contact-info img{
    padding: 1em;
}
.contact-info img{
    max-width: 26px;
}
.hours{
    background-color: var(--white);
    padding-bottom: 1em;
}
h4{
    text-align: center;
    padding-top: 1em;
    font-size: 30px;
    margin: 21px;
    color: var(--red);
}

.hour{
    list-style: none;
    font-size: 28px;
    color: var(--red);
    display: grid;
    grid-template-areas: 
    "day time";
}
.hours-days{
    grid-area: day;
}
.hours-times{
    grid-area: time;
}






@media screen and (min-width: 765px){
    h1{
        font-size: 67px;
        -webkit-text-stroke: 3px var(--black);
    }
    .banner p{
        font-size: 28px;
        -webkit-text-stroke: 1px var(--black);
    }
    .catering p{
        font-size: 24px;
        
    }
    
    /* navigation */
    .list-nav{
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
    }
    .logo{
        width: 131px;
        height: 103px;
    }
    /* Events */
    .events{
        margin: 139px 0;
    }
    .events img{
        margin-bottom: 1em;
        width: 588px;
        height: 435px;
    }
    /* Catering */
    .catering{
        margin-bottom: 114px;
    }
    .catering img{
        width: 465px;
        height: 601px;
    }
    /* Footer */

    /* Menu Page */
    .menuphoto img{
        width: 616px;
        height: 798.24px;
    }
    /* Takeout Page */
    .takeout-icons img{
        margin-left: 1em;
        margin-right: 0;
    }
    /* .takeout-icons p{
        text-align: start;
    } */

    /* Contact Page */
    .form p{
        font-size: 32px;
    }
   

}

@media screen and (min-width: 1500px){
    h1{
        font-size: 132px;
    }
    h2, h3{
        font-size: 40px ;
    }
    .site-header{
        background-color: var(--yellow);
    }
    /* Banner */
    .banner p{
        font-size: 52px;
    }
    .logo{
        width: 187px;
        height: 147px;
    }
    /* Events */
    .events img{
        margin-bottom: 1em;
        width: 845px;
        height: 531px;
    }
    .events{
        margin: 212px 0;
        display: grid;
        justify-items: center;
        grid-template-areas:
        "header ." 
        " poster1 poster2";
    }
    h2{
        grid-area: header;
    }
    .poster{
        grid-area: poster1;
    }
    .NYHposter{
        grid-area: poster2;
    }
    
    /* Catering */
    .catering{
        margin-bottom: 139px;
        display: grid;
        justify-items: center;
        grid-template-areas: 
        ". header"
        "poster writing1 "
        "poster writing2"
        " . button";
    }
    h3{
        grid-area: header;
    }
    .catering img{
        width: 552px;
        height: 714px;
        grid-area: poster;
    }
    .write{
        grid-area: writing1;
        align-items: center;
    }
    .catering-question{
        grid-area: writing2;
    }
    .contact-catering-btn{
        grid-area: button;
    }
    .catering p{
        font-size: 40px;
        margin: 0;
        /* float: right; */
        
    }
    /* Menu Page */
    .menu img{
        margin: 1em 6em 1em 6em;
        width: 712px;
        height: 921px;
        
    }
    .menuphoto {
        margin: 0;
        display: grid;
        grid-template-areas: 
        "front p1"
        "p2 p3"
        "p4 p5"
        ;
        
    }
    .menu1{
        grid-area: front;
    }
    .menu2{
        grid-area: p1;
    }
    .menu3{
        grid-area: p2;
    }
    .menu4{
        grid-area: p3;
    }
    .menu5{
        grid-area: p4;
    }
    .menu6{
        grid-area: p5;
    }
    /* Takeout page */
    
    /* .takeout-icons{
        display: grid;
        grid-template-areas: 
        "icon1 p1"
        "icon2 p2"
        "icon3 p3"
        "icon4 p4"
        "icon5 p5"
        ;
    }
    .call{
        grid-area: icon1;
    }
    .p1{
        grid-area: p1;
    }
    .uber{
        grid-area: icon2;
    }
    .p2{
        grid-area: p2;
    }
    .skip{
        grid-area: icon3;
    }
    .p3{
        grid-area: p3;
    }
    .door{
        grid-area: icon4;
    }
    .p4{
        grid-area: p4;
    }
    .mgcom{
        grid-area: icon5;
    }
    .p5{
        grid-area: p5;
    } */

     /* Contact */
     .contact{
        display: grid;
        grid-template-areas: 
        "form map"
        "info hour"
        ;
        gap: 1em;
    }
    .form{
        grid-area: form;
    }
    .location{
        grid-area: map;
    }
    .contact-info{
        grid-area: info;
    }
    .hours{
        grid-area: hour;
    } 

    


}
